/* CSS for gates, wires, and components within the circuit editor */

.line {
    
}

.wire {
    margin-top: 99px;
    margin-bottom: 99px;
    height: 2px;
    width: 100%;
    background: black;
    margin-left: 64px;
}

.truncation {
    margin-top: 99px;
    margin-bottom: 99px;
    height: 2px;
    width: 100%;
    background: red;
    margin-left: 64px;
}

.gate {
    background: white;
    color: black;
    font-weight: 500;
    font-size: 48px;
    font-family: 'Courgette', cursive;
    text-align: center;
    border: solid black 1px;
    padding: 18px;
    width: 64px;
}

.hadamard {
  
}