/* Styling for layouts */

#ide-directory {
    width: 256px;
    background: #464646;
}

.room-for-tabs {
    height: calc(100vh - 96px);
}

.logo-image {
  height: 52px;
  width: 52px;
}

.logo-button {
  width: 52px;
}

#circuit-editor {
    padding-top: 32px;
}