/* Styling for layouts */

#ide-directory {
    width: 256px;
    background: #464646;
}

.room-for-tabs {
    height: calc(100vh - 96px);
}

.logo-image {
  height: 52px;
  width: 52px;
}

.logo-button {
  width: 52px;
}

#circuit-editor {
    padding-top: 32px;
}

.open-container {
    display: inline-block;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    margin: 8px;
    text-align: center;
}

.open-container h1 {
    margin-top: 32px;
}

.open-icon {
    width: 50%;
    height: 50%;
    margin: auto auto;
}