/* Styling for layouts */

#ide-gates {
    width: 256px;
    background: red;
}

.room-for-tabs {
    height: calc(100vh - 96px);
}

.logo-image {
  height: 52px;
  width: 52px;
}

.logo-button {
  width: 52px;
}