<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet"> <!-- Font for code -->
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet"> <!-- Font for math -->
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/color.css">
  <link rel="stylesheet" href="css/gates.css">
</head>
<body ng-app="IdeApp" ng-controller="MainController" ng-cloak>
  
  <!-- MAIN MENU BAR -->
  <div ng-controller="MainMenuController as ctrl" ng-cloak>
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler layout layout-align="center center">
        <md-button class="md-icon logo-button" aria-label="QStudio Home">
         <img class="logo-image" src="img/qstudio.png" alt="QStudio Logo">
        </md-button>
      </md-toolbar-filler>

      <div>
        <h2 class="md-toolbar-tools">Circuit Editor</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              File
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">New</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="ctrl.sampleAction('Blank Circuit', $event)">Blank Circuit</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.sampleAction('From Template', $event)">From Template</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="openFile($event)">
                  Open...
                  <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button disabled="disabled" ng-click="ctrl.sampleAction('Rename', $event)">
                  Rename
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Export</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="ctrl.sampleAction('Blank Circuit', $event)">to .qstudio</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="ctrl.sampleAction('From Template', $event)">to .qasm</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Share...
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                  Print
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              Edit
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="undo"></md-icon>
                <md-button ng-click="ctrl.sampleAction('undo', $event)">
                  Undo
                  <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="redo"></md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Redo
                  <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="content-cut"></md-icon>
                <md-button ng-click="ctrl.sampleAction('cut', $event)">
                  Cut
                  <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="content-copy"></md-icon>
                <md-button ng-click="ctrl.sampleAction('copy', $event)">
                  Copy
                  <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-svg-icon="content-paste"></md-icon>
                <md-button ng-click="ctrl.sampleAction('paste', $event)">
                  Paste
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-button ng-click="ctrl.sampleAction('Find and replace', $event)">
                  Find and replace...
                  <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              View
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Editor Mode</md-button>
                  <md-menu-content width="3">
                    <md-menu-item type="radio" ng-model="settings.circuitMode" ng-value="true">Circuit Editor</md-menu-item>
                    <md-menu-item type="radio" ng-model="settings.circuitMode" ng-value="false">Code Editor</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Viewing Mode</md-button>
                  <md-menu-content width="3">
                    <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'default'">Default</md-menu-item>
                    <md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="'presentation'">Presentation</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item type="checkbox" ng-model="ctrl.settings.fullScreen">Full screen</md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  </div>
  <!-- /MAIN MENU BAR -->
  
  <div class="page-container room-for-tabs" layout="row">
    
    <!-- PANE FOR GATES / COMPONENTS -->
    <div id="ide-gates" layout-fill>
    </div>
    <!-- / GATE PANE -->
    
    <div id="editor-pane" layout="column" layout-fill>

      <!-- PANE FOR CIRCUIT -->
      <div id="circuit-editor" class="ide-container dropzone room-for-tabs" ng-style="settings.circuitStyle" ng-show="settings.circuitMode">
        IN CIRCUIT MODE
        
        <div class="gate hadamard draggable">
          H
        </div>
        
      </div>
      <!-- / CIRCUIT PANE -->
        
      <!-- PANE FOR CODE EDITOR -->
      <md-content id="code-editor" class="ide-container room-for-tabs" ng-style="settings.codeStyle" ng-hide="settings.circuitMode" layout-padding>
          <p># <br />
          # File: test13.qasm<br />
          # Date: 22-Mar-04<br />
          # Author: I. Chuang <br />
          #<br />
          # Sample qasm input file - three-qubit phase<br />
          # estimation circuit with QFT and controlled-U</p>

          <p> defbox CU,3,1,'U'<br />
           defbox CU2,3,1,'U^2'<br />
           defbox CU4,3,1,'U^4'<br />
           def c-S,1,'S'<br />
           def c-T,1,'T'</p>

          <p> qubit j0,0 # QFT qubits<br />
           qubit j1,0<br />
           qubit j2,0<br />
           qubit s0 # U qubits<br />
           qubit s1</p>

          <p> h j0 # equal superposition<br />
           h j1<br />
           h j2</p>

          <p> CU4 j0,s0,s1 # controlled-U<br />
           CU2 j1,s0,s1<br />
           CU j2,s0,s1</p>

          <p> h j0 # QFT<br />
           c-S j0,j1<br />
           h j1<br />
           nop j0<br />
           c-T j0,j2<br />
           c-S j1,j2<br />
           h j2<br />
           nop j0<br />
           nop j0<br />
           nop j1<br />
           <br />
           measure j0 # final measurement<br />
           measure j1 <br />
           measure j2</p>
      </md-content>
      <!-- / CODE PANE -->
      
      <!-- Editor Tabbing -->
      <div ng-controller="EditorTabController" ng-cloak>
        <md-nav-bar id="editor-tabs" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" md-nav-align="bottom">
          <md-nav-item md-nav-click="gotoCircuit(true)" name="circuitTab">Circuit Editor</md-nav-item>
          <md-nav-item md-nav-click="gotoCircuit(false)" name="codeTab">Code Editor</md-nav-item>
          <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
          <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
          <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
          -->
        </md-nav-bar>
      </div>
      <!-- /Editing Tabbing -->
      
    </div>
    
  </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- interact.js for the IDE -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.6/interact.min.js"></script>
  <script src="js/interact.js"></script>
  
  <!-- Your application bootstrap  -->
  <script src="js/color.js"></script>
  <script src="js/ide.js"></script>
  
</body>
</html>