<md-dialog aria-label="Open Circuit File">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="white-text">Open Circuit File</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="../img/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        
        <div class="open-container">
          <h1 class="md-display-1">From Cloud Storage</h1>
          <div class="open-icon" id="cloud-storage-icon"></div>
        </div>
        <div class="open-container">
          <h1 class="md-display-1">From GitHub Repo</h1>
          <div class="open-icon" id="github-icon"></div>
        </div>
        <div class="open-container">
          <h1 class="md-display-1">From Computer</h1>
          <div class="open-icon" id="computer-icon"></div>
        </div>
          
      </div>
    </md-dialog-content>
  </form>
</md-dialog>